@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css";
@import "https://unpkg.com/leaflet-responsive-popup@0.6.4/leaflet.responsive.popup.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .lg\:grid-cols-3 {
    @apply grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:col-span-3 {
    @apply grid-column: span 3 / span 3;
  }

  .lg\:px-16 {
    @apply padding-left: 4rem;
    @apply padding-right: 4rem;
  }

  .xl\:my-4 {
    @apply margin-top: 1rem;
    @apply margin-bottom: 1rem;
  }

  .xl\:my-2 {
    @apply margin-top: 0.5rem;
    @apply margin-bottom: 0.5rem;
  }

  .md\:justify-end {
    @apply justify-content: flex-end;
  }

  .md\:ml-20 {
    @apply margin-left: 5.5rem;
  }

  .md\:px-24 {
    @apply padding-left: 6rem;
    @apply padding-right: 6rem;
  }
}

.mb-20 {
  margin-bottom: 5rem;
}


.pointer {
  cursor: pointer;
}

.responsive-iframe {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.text-highlight-red {
  --tw-text-opacity: 1;
  color: #EB522D;
}

.border-20 {
  border-radius: 20px;
}

.bg-modal-default{
  background-image: url("/img/bg_modal_rechazo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.modal-content {
  height: 80vh;
  max-width: 100vw;
}

.bg_mensaje_aceptada {
  background-image: url("/img/bg_mensaje_invitacion_aceptada.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_mensaje_rechazada {
  background-image: url("/img/bg_mensaje_rechazada.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-modal-verde {
  background-image: url("/img/bg_modal_verde.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_bienvenida {
  background-image: url("/img/bg_bienvenida.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ajuste_centro {
  margin-top: -100px;
}

@media (max-width: 640px) {
  .center-text-contact {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .modal-content {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .ml-text-contact {
    margin-left: 0.5rem;
  }
}

@media (min-width: 1280px) {
  .ml-text-contact {
    margin-left: 2.5rem;
  }
}

@media (min-width: 1536px) {
  .ml-text-contact {
    margin-left: 5.5rem;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-negro {
  color: #000 !important;
}

.buttom-border-bottom-fix {
  border-bottom: 2px solid !important;
}

.footer-up-text {
  font-size: 15px;
  font-weight: 250;
  color: #fff;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-orange-gradient {
  background: linear-gradient(180deg, #F79F1A 0%, #F2472F 100%);
}

.bg-soft-blue {
  background: linear-gradient(180deg, #00DDBA 0%, #007F8E 100%);
}

.bg-diagonal-inverted-gradient {
  background: linear-gradient(-223.63deg, #000 30%, #00DDBA 90%);
}

.bg-diagonal-gradient {
  background: linear-gradient(223.63deg, #11CAAD 11.07%, rgba(17, 202, 173, 0) 51.37%);
}

.bg-vertical-gradient {
  background: linear-gradient(360deg, #00DDBA 0%, rgba(17, 202, 173, 0) 100%);
}

.bg-vertical-gradient-black {
  background: linear-gradient(360deg, #00DDBA 0%, #000 100%);
}

.bg-horizontal-gradient {
  background: linear-gradient(90deg, #00DDBA 0%, rgba(17, 202, 173, 0) 100%);
}

.our-services {
  margin-top: 50px;
}

.flip-container {
  -webkit-perspective: 1000;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 15px;
  cursor: pointer;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  cursor: pointer;
}

.front {
  width: 100%;
  height: auto;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.front img {
  display: block;
  width: 100%;
}

.back {
  width: 100%;
  height: auto;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  text-align: center;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.flipper {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  position: relative;
  height: 200px;
}

@media screen and (min-width: 320px) {
  .flipper {
    height: 250px;
  }
}

@media screen and (min-width: 390px) {
  .flipper {
    height: 300px;
  }
}

@media screen and (min-width: 450px) {
  .flipper {
    height: 350px;
  }
}

@media screen and (min-width: 550px) {
  .flipper {
    height: 400px;
  }
}

@media screen and (min-width: 1600px) {
  .flipper {
    height: 500px;
  }
}

.slider-container {
  margin: 0 auto;
  width: 100%;
  overflow-x: clip;
}

.swiper,
swiper-container::part(container) {
  width: 100%;
  padding: 16px 0 20px;
  margin-bottom: 50px;
}

.swiper-slide,
swipper-slide {
  position: relative;
  width: 600px;
}

swiper-container::part(container) {
  overflow: visible;
}

swiper-container::part(pagination) {
  position: relative;
  bottom: -20px;
}

swiper-container::part(bullet-active),
swiper-container::part(bullet) {
  width: 18px;
  height: 18px;
}

swiper-container::part(bullet-active) {
  background-color: #00DDBA;
}

swiper-container::part(bullet) {
  background-color: #F4F0EC;
  opacity: 1;
}

.swiper-pagination {
  --swiper-pagination-bottom: -4px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ffffffe7;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 18px;
  border-radius: 8px;
}

.slide-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  row-gap: 12px;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 98%;
  background: linear-gradient(240deg,
      transparent,
      transparent,
      rgba(38, 21, 149, 0.8));
  border-radius: 20px;
  padding: 30px;
}

.slide-overlay h2 {
  font-size: clamp(1.2rem, 3vw, 2.2rem);
  font-weight: 700;
}

.slide-overlay button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: max-content;
  padding: 12px 16px;
  background: #e9e6eb2a;
  color: #e8e5e5;
  border: 1px solid rgba(159, 160, 168, 0.4);
  border-radius: 12px;
  outline: 0;
  font-size: clamp(0.7rem, 3vw, 1rem);
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.4s linear;
  cursor: pointer;
}

.slide-overlay button:is(:hover, :focus-visible) {
  background: #e9e6eb;
  color: #000;
}

@media (min-width: 911px) {

  .swiper-slide,
  swiper-slide {
    width: 410px;
  }
}

@media (max-width: 910px) {

  .swiper-slide,
  swiper-slide {
    width: 350px;
  }
}

@media (max-width: 825px) {

  .swiper-slide,
  swiper-slide {
    width: 320px;
  }

  .slide-overlay {
    row-gap: 8px;
    padding: 12px 36px;
  }

  .slide-overlay button {
    padding: 8px 12px;
  }
}

@media (max-width: 700px) {
  .slide-overlay {
    row-gap: 12px;
    padding: 20px 30px;
  }

  .swiper-slide,
  swiper-slide {
    width: 420px;
  }
}

@media (max-width: 580px) {

  .swiper-slide,
  swiper-slide {
    width: 340px;
  }
}

@media (max-width: 450px) {

  .swiper-slide,
  swiper-slide {
    width: 320px;
  }

  .slide-overlay {
    row-gap: 8px;
    padding: 12px 36px;
  }
}

.multi-border-white {
  padding: 12px 35px;
  border-radius: 50px;
  border: 1px solid;
  border-color: #FFF;
  width: 18.5rem;
  height: 3.125rem;
  font-size: 1rem;
}

.multi-border {
  position: relative;
  padding: 12px 35px;
  font-size: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.10);
  transition: all 0.15s ease-in-out;
  box-sizing: border-box;
  border-radius: 50px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
}

.btn-md {
  width: 14.375rem;
  height: 3.125rem;
}

.btn-xl {
  width: 18.5rem;
  height: 3.125rem;
}

.multi-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px;
  background: linear-gradient(45deg, #FDB827, #86301A);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.multi-border:hover,
.multi-border:active {
  color: #fff;
  background: linear-gradient(45deg, #FDB827, #86301A);
  border-color: #fff;
  border-width: 1px;
}

.white-grad {
  background:
    linear-gradient(#ccc 0 0) padding-box,
    /*this is your grey background*/
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
  color: #313149;
  border: 5px solid transparent;
  border-radius: 15px;
  display: inline-block;
  margin: 75px 0;
}

.multi-border:active {
  background:
    linear-gradient(#e8e5e5, #e8e5e5) padding-box,
    linear-gradient(to bottom, #FEC75B, #f25c2f, #00DDBA) border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.promo {
  background: url('/img/circle-promo.svg') transparent 50% / cover no-repeat;
  width: 80px;
  height: 80px;
  font-size: 0.6rem;
  top: -20px;
  right: 7px;
  z-index: 1992;
}

@media screen and (min-width: 640px) {
  .promo {
    width: 100px;
    height: 100px;
    font-size: 0.7rem;
    top: -40px;
    right: 20px;
  }
}

.bg-promo-blue {
  background: linear-gradient(206deg, #000 26.38%, #01808E 92.03%);
}

.bg-promo-green {
  background: linear-gradient(270deg, #00DDBA -70%, rgba(0, 0, 0, 0) 100%);
}

.bg-promo-orange {
  background: linear-gradient(116deg, #FA8F22 4.64%, #E04C37 79.15%);
}

.bg-promo-yellow{
  background: linear-gradient(100deg, #007F8E 15.02%, #F7D690 87.4%);
}

@keyframes doodle-animation-left {
  0% {
    opacity: 0;
    transform: translate(4px, 4px) scale(.95)
  }

  60% {
    opacity: 1;
    transform: translate(-2px, -2px) scale(1.02)
  }

  to {
    opacity: 1;
    transform: translate(0) scale(1)
  }
}

@keyframes doodle-animation-right {
  0% {
    opacity: 0;
    transform: translate(-4px, -4px) scale(.95)
  }

  60% {
    opacity: 1;
    transform: translate(2px, 2px) scale(1.02)
  }

  to {
    opacity: 1;
    transform: translate(0) scale(1)
  }
}

@keyframes doodle-fade {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

/* form: button */
.button {
  border-radius: 50px;
  background-color: #F5F6FA;
  border-bottom: 3px solid #00DDBA;
  color: #000;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.10);
  transition: all 0.15s ease-in-out;
  box-sizing: border-box;
  padding: 6px 18px;
  font-size: 1rem;
}

/* form: input */
.input {
  background-color: #FFF;
  padding: 6px 16px;
  border: 1px solid #FFF;
  border-radius: 50px;
  color: #000;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
}

.input-error {
  border: 1px solid #F2472F !important;
}

.input-error:focus {
  outline-color: #F2472F !important;
}

.input:focus {
  outline-color: #F79F1A;
}

.input-border-gray {
  border: 1px solid #B6B6B6;
}

@media screen and (min-width: 768px) {
  .button {
    padding: 8px 20px;
    font-size: 1.2rem;
  }

  .input {
    padding: 8px 20px;
    font-size: 1.2rem;
  }
}

/* form: select */
select.input {
  appearance: none;
  background-image: url("/img/dropdown-icon.svg");
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
  background-size: 1rem auto;
}

@media screen and (min-width: 1024px) {
  select.input {
    background-position: right 1.2rem top 50%;
    background-size: 1.2rem auto;
  }
}

@media screen and (min-width: 1280px) {
  select.input {
    background-position: right 1.4rem top 50%;
    background-size: 1.4rem auto;
  }
}

/* form: input[type=radio] input[type=checkbox] */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox].black {
    --active: #000;
    --border: #000;
  }

  input[type=checkbox],
  input[type=radio] {
    --active: #000;
    --active-inner: #FFF;
    --focus: 2px 0 0 0 var(--active);
    --border: #F4F0EC;
    --border-hover: #EF7911;
    --background: #000;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid #FFF;
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }

  input[type=checkbox]:after,
  input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }

  input[type=checkbox]:checked,
  input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  input[type=checkbox]:disabled,
  input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }

  input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  input[type=checkbox]:disabled+label,
  input[type=radio]:disabled+label {
    cursor: not-allowed;
  }

  input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  input[type=checkbox]:focus,
  input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
    width: 21px;
  }

  input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }

  input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
    --o: 1;
  }

  input[type=checkbox]+label,
  input[type=radio]+label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }

  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }

  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }

  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }

  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }

  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }

  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type=radio] {
    border-radius: 50%;
  }

  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }

  input[type=radio]:checked {
    --s: .5;
  }
}

.button-black {
  border-bottom: 3px solid #000;
}

.button-orange {
  border-bottom: 3px solid #F79F1A;
}

.button:hover {
  color: #1e1e1e;
  background-color: #f5f5f5;
}

.button:active {
  box-shadow: none;
  border-bottom: 0px solid #f5f5f5;
  transform: translateY(2px);
}

.button-container {
  position: relative;
}

.button-container::before,
.button-container::after {
  background-size: 100%;
  content: "";
  display: block;
  height: 16px;
  position: absolute;
  width: 16px;
  outline-color: transparent;
  opacity: 0;
}

.button-container::before {
  left: -8px;
  outline-color: transparent;
  top: -5px;
  background-image: url(/img/doodles-left.svg);
}

.button-container::after {
  right: -8px;
  outline-color: transparent;
  bottom: -5px;
  background-image: url(/img/doodles-right.svg);
}

.button-container:hover::before,
.button-container:hover::after {
  opacity: 1;
}

.button-container:has(:active)::before,
.button-container:has(:active)::after {
  opacity: 0;
}

.button-container:hover::before {
  animation: doodle-animation-left .5s ease-in-out;
}

.button-container:hover::after {
  animation: doodle-animation-right .5s ease-in-out;
}

.form-card {
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .form-card {
    border-radius: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .form-card {
    border-radius: 50px;
  }
}

.border-segmented-top {
  border-top: 2px dashed #ffffff;
  padding-top: 9px;
}

.border-segmented-right {
  border-right: 2px dashed #ffffff;
}

/**
* NEW CSS
*
**/

body {
  background: url('/img/bg-landing-full.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-plan1 {
  background: url('/img/bg-plan.png') transparent 50% / cover no-repeat;
  width: auto;
  height: auto;
}

.bg-luces {
  background: url('/img/bg-luces.png') #000 50% / cover no-repeat;
  width: auto;
  height: auto;
}

.bg-modal-coverage {
  background: url('/img/bg-modal-coverage.png') #000 50% / cover no-repeat;
  background-size: 100% 100%;
}

.icon-instagram {
  width: 33.153px;
  height: 33.153px;
  flex-shrink: 0;
  background: url('/img/Rectangle.png') lightgray 0px 0px / 100% 100% no-repeat;
  border-radius: 50%;
}

.btn-width {
  width: 295px;
}

.border-col-1 {
  background: linear-gradient(90deg, gray 0%, #000 100%);
  border: 2px solid #27E1C1;
}

.border-col-2 {
  background: linear-gradient(90deg, gray 0%, #000 100%);
  border: 2px solid #FDB827;
}

.border-col-3 {
  background: linear-gradient(90deg, gray 0%, #000 100%);
  border: 2px solid #298A9A;
}

.border-col-4 {
  background: linear-gradient(90deg, gray 0%, #000 100%);
  border: 2px solid #EB522D;
}

.card-plan {
  width: 9rem;
  height: 6.25rem;
}

.bg-card-2 {
  background-color: #F79F1A;
}

.help-green {
  color: #27E1C1;
}

.green-check {
  border-radius: 0px !important;
  border: #27E1C1 solid 2px !important;
  background-color: black !important;
}

.font-yellow {
  color: #F7D690;
}